{% extends 'core/base.html' %}

{% load static %}

{% block content %}
<section class="about">
    <h2>About Me</h2>
    <p>
        I am Maxwel Muraria. I love crafting solutions. I am a firm believer in continuous improvement and the relentless pursuit of excellence.I enjoy solving problems. I also endeabour to eliminate inefficiencies through code, so that we can focus on what really matters.
    <p>

    <h2>Skills</h2>
    <ul class="skills-list">
        <li>Problem Solving</li>
        <li>Critical Thinking</li>
        <li>Team Collaboration</li>


        <li>Python & Django</li>
        <li>HTML, CSS, JavaScript</li>
        <li>Cyber Security</li>
        <li>Version Control (Git)</li>
        <li>Databases (SQlite)</li>

        <br>
        When I'm not coding, I love to do the small things that ultimately matter. <span style="font-size:1.2em;">&#128522;&#10084;&#65039;</span>
    </p>


{% endblock %}