{% extends 'core/base.html' %}

{% load static %}

{% block content %}
<section class="projects">
    <h2>My Projects</h2>
    <div class="project-card">
        <h2>Personal Website</h2>
        <p>This very site is one of my projects. It is build with Django, HTML, CSS and Javascript</p>
        <br>
        <p>I am currently developing a nutrition Website and will share the link to it soon</p>
        <br>
        <p>Your wonderful project should be next 🙂</p>

    </div>
    
            <div class="contact-cta">
            <p>Interested in working together or have questions?</p>
            <a href="{% url 'contact' %}" class="btn-contact">📩 Contact Me</a>
        </div>
    <!-- Add more projects as needed Follow this pattern of divs-->
    <!-- <div class="project-card"></div> -->       


{% endblock %}